<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
           integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
           integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
           crossorigin="anonymous"></script>
        <link href="/stylesheets/login.css" rel="stylesheet" />
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script> 
    </head>
    <form action="/admin/chk_admin_login" method="post">
        <div  style="width:100%;height:100%;background-image:url('/images/movie12.jpg');display:flex;justify-content:center;align-items:center;">
            <div style="width:400px;height: 450px;background:LightGray;border: 1px solid rgb(125, 125, 116);">
                <center>
                    
    
                  <br><br><h4 style="color: red;"><b>Welcome To Netflix</b></h4>    Enter Your Details <br><br>
    <img src="/images/login.png" width="50px" height="50px"><br><br>
    <div>
        <input required name="emailid" type="text" placeholder="Email Address">
      </div>
<br>
      <div>
        <input required name="password" type="password" placeholder="Password">
      </div><br>

      <div class="row" style="margin-top:10px;">
        <div class="col-sm-6" style="display:flex;justify-content:center">
           <button type="submit" class="btn btn-outline-success" style="height: 40px;width:50%">Submit</button>
        </div>
        <div class="col-sm-6" style="display:flex;justify-content:center">
           <button type="reset" class="btn btn-outline-danger" style="height: 40px;width:50%">Reset</button>
        </div>
     </div>

     <div class="row" style="margin-top:10px;">
      <div class="col-sm-12" style="display:flex;justify-content:center;color:#fff;font-weight:700;font-size:small">
<%=message %>
      </div>

</center>
</div>
</div>
    </form>
    </html>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    